# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY='django-insecure-#no4h+pryhqa*td3inyn5%tx*(#cp^6b$0x**me9cv)v%x*8@c'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=True

# ALLOWED_HOSTS, required when production, list of url, separated by ,
ALLOWED_HOSTS=''

# A list of trusted origins for unsafe requests
CSRF_TRUSTED_ORIGINS='http://localhost:3000'
