<!-- layouts/partials/head/schema.html -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{{ .Params.schemaType | default "WebPage" }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "headline": "{{ .Title }}",
    "description": "{{ .Description }}",
    "image": "{{ .Params.ogImage }}",
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.Author }}"
    },
    "datePublished": "{{ .Site.Params.DatePublished.Format "2006-01-02" }}",
    "dateModified": "{{ .Date.Format "2006-01-02" }}"
  }
</script>
