<!doctype html>
<html lang="en">
  <head>
    {{ partialCached "head/prerender.html" . }}
    {{ partial "head/metadata.html" . }}
    {{ partial "head/styles.html" . }}
    {{ partialCached "head/analytics.html" . }}
    <title>{{ .Title }}</title>
  </head>
  <body data-offset="200" data-spy="scroll" data-target=".site-nav-target">
    <nav class="unslate_co--site-mobile-menu">
      <div class="close-wrap d-flex">
        <a class="d-flex ml-auto js-menu-toggle" href="#">
          <span class="close-label"> Close </span>
          <div class="close-times">
            <span class="bar1"> </span>
            <span class="bar2"> </span>
          </div>
        </a>
      </div>
      <div class="site-mobile-inner"></div>
    </nav>

    <div class="unslate_co--site-wrap">
      <div class="unslate_co--site-inner">
        <div class="lines-wrap">
          <div class="lines-inner">
            <div class="lines"></div>
          </div>
        </div>
        {{ partialCached "header/site-nav.html" . }}
        {{ block "main" . }}{{ end }}
      </div>
      {{ partial "footer/site-footer.html" . }}
    </div>
    <!-- Loader -->
    <div id="unslate_co--overlayer"></div>
    <div class="site-loader-wrap">
      <div class="site-loader"></div>
    </div>
    {{ partial "footer/scripts.html" . }}
  </body>
</html>
