{{ define "main" }}
  <div class="unslate_co--section">
    <div class="container">
      <div class="row mt-5">
        <div class="col-12">
          <!-- Main Title -->
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider">
              <span class="gsap-reveal">{{ .Title }}</span>
            </h2>
            <span class="gsap-reveal">
              {{ partial "picture"  (dict
                "ctx" .
                "src" "assets/images/divider.png"
                "alt" "divider"
                "width" 76
                )
              }}
            </span>
          </div>
        </div>
        {{ range .Pages }}
          <div class="row mb-4">
            <div class="col-md-12">
              <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
              <p>{{ .Summary }}</p>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
