<!-- Awards -->
<div class="unslate_co--section" id="award-section">
  <div class="container">
    <div class="section-heading-wrap text-center mb-5">
      <h2 class="heading-h2 text-center divider">
        <span class="gsap-reveal"> Competitions & Awards </span>
      </h2>
      <span class="gsap-reveal">
        {{ partial "images/image" (dict "Page" . "Filename" "/images/divider.png?width=76" "Alt" "divider" ) }}
      </span>
    </div>
    <div class="row gutter-v3">
      {{ range .data.awards }}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
            <div class="wrap-icon mb-3">
              {{ partial "images/image" (dict
                "Filename" (printf "%s?width=45" .img)
                "Alt" .title
                )
              }}
            </div>
            <h3>{{ .title }}</h3>
            <br />
            <p>{{ .date }}</p>
            <!-- <%- include(appRoot+'/views/pages/awards/'+awards[i].content) %> -->
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
<!-- END Awards -->
