<div class="unslate_co--section" id="blog-section">
  <div class="container">
    <div class="section-heading-wrap text-center mb-5">
      <h2 class="heading-h2 text-center divider">
        <span class="gsap-reveal">My Blogs</span>
      </h2>
      <span class="gsap-reveal"
        ><img src="/images/divider.png" alt="divider" width="76"
      /></span>
    </div>

    <div class="row gutter-v4 align-items-stretch">
      {{ range $i, $e := .data.blogs }}
      <div
        class="col-sm-6 col-md-6 {{ $e.class }} blog-post-entry"
        data-aos="fade-up"
        data-aos-delay="0"
      >
        <a href="{{ $e.link }}" class="grid-item blog-item w-100 h-100">
          <div class="overlay">
            <div class="portfolio-item-content">
              <h3>{{ $e.title }}</h3>
              <p class="post-meta">
                {{ $e.note1 }} <span class="small">&bullet;</span>{{ $e.note2 }}
              </p>
            </div>
          </div>
          <img
            src="https://picsum.photos/852/480?blur&random={{ $i }}"
            class="lazyload"
            alt="{{ $e.title }}"
          />
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
