<!-- Experience  -->
{{ if .ctx.Params.slider_experience }}
  <div class="unslate_co--section" id="experience-section">
    <div class="container">
      <div class="section-heading-wrap text-center mb-5">
        <h2 class="heading-h2 text-center divider">
          <span class="gsap-reveal"> Experience </span>
        </h2>
        <span class="gsap-reveal">{{ partial "images/image" (dict "Page" . "Filename" "/images/divider.png?width=76" "Alt" "divider" ) }}</span>
      </div>
    </div>
    <div class="owl-carousel testimonial-slider" data-aos="fade-up">
      {{ range .data.experience }}
        <div>
          <div class="testimonial-v1">
            <div class="testimonial-inner-bg">
              <span class="quote">&ldquo;</span>
              <blockquote>{{ .note | markdownify }}</blockquote>
            </div>
            <div class="testimonial-author-info">
              {{ partial "images/image" (dict
                "Filename" (printf "%s?width=45" .img)
                "Alt" .title
                )
              }}
              <h3>{{ .title }}</h3>
              <span class="d-block position">{{ .name }}, {{ .time }}</span>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ else }}
  <div class="unslate_co--section" id="experience-section">
    <div class="container">
      <div class="section-heading-wrap text-center mb-5">
        <h2 class="heading-h2 text-center divider">
          <span class="gsap-reveal"> Experience </span>
        </h2>
        <span class="gsap-reveal">
          {{ partial "images/image" (dict "Page" . "Filename" "/images/divider.png?width=76" "Alt" "divider" ) }}
        </span>
      </div>
      <div class="row gutter-v3">
        {{ range site.Data.index.experience }}
          <div id="{{ .id }}" class="col-md-6 col-lg-4 mb-4">
            <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
              <div class="wrap-icon mb-3">
                {{ partial "images/image" (dict
                  "Filename" (printf "%s?width=45" .img)
                  "Alt" .title
                  )
                }}
              </div>
              <h3>{{ .title }}</h3>
              <br />

              <h5>{{ .name }}</h5>
              {{ .time }}
              <!-- <br /> -->
              <!-- <h6>{{ .time }}</h6> -->
              <p></p>
              {{ .note | markdownify }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
<!-- END Experience -->
