<!-- Projects -->
<div class="unslate_co--section" id="portfolio-section">
  <div class="container">
    <div class="relative">
      <div class="loader-portfolio-wrap">
        <div class="loader-portfolio"></div>
      </div>
    </div>
    <div id="portfolio-single-holder"></div>
    <div class="portfolio-wrapper">
      <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
        <h2 class="mr-auto heading-h2">
          <span class="gsap-reveal"> Projects </span>
        </h2>
        <a class="text-white js-filter d-inline-block d-lg-none" href="#">Filter</a>
        <div class="filter-wrap">
          <div class="filter ml-auto" id="filters">
            <a class="active" data-filter="*" href="#">All</a>
            <a data-filter=".ai" href="#">AI</a>
            <a data-filter=".os" href="#">OS</a>
            <a data-filter=".web" href="#">Web</a>
            <!-- <a data-filter=".iot" href="#">IoT</a> -->
            <a data-filter=".game" href="#">Game</a>
            <a data-filter=".other" href="#">Other</a>
          </div>
        </div>
      </div>
      <div id="posts" class="row gutter-isotope-item">
        {{ range $i, $e := .data.projects }}
          {{- $u := urls.Parse $e.link -}}
          <div class="item {{ $e.class }} col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
            <a
              href="{{ $u }}"
              class="portfolio-item {{ if not $u.IsAbs }}ajax-load-page{{ end }} item-portrait isotope-item gsap-reveal-img"
              data-id="{{ $i }}"
              {{ if $u.IsAbs }}
                rel="{{ site.Params.external_links.rel }}" target="{{ site.Params.external_links.target }}"
              {{ end }}
            >
              <div class="overlay">
                <span class="wrap-icon icon-link2"> </span>
                <div class="portfolio-item-content">
                  <h3>{{ $e.title }}</h3>
                  <p>{{ $e.note }}</p>
                </div>
              </div>
              {{ partial "images/image" (dict
                "Filename" $e.img
                "Alt" $e.title
                )
              }}
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
